.container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(#3db8fa, #2e79ca);
}

.header{
  height:84px;
  color:#FFF;
}
.back{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  height:64px;
  font-size:28px;
}
.backImg{
  display:inline-block;
  vertical-align: middle;
  width:28px;
  height: 42px;
  margin-right: 5px;
  
}
.headImage{
  height:260px;
  display: flex;
  align-items:center;
  justify-content: center
}

.invite{
  padding: 20px;
  height: 100px;
  /* background: yellowgreen;
  border-bottom-color: #FFF;
  border-bottom-width: 10px; */

}
.invite input {
  background: transparent;
  border:none;
  outline:medium;
  color: #FFF;
  width: 100%
}
.next{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 80px;
  width: 100%;
}
.nextStep{
  height: 100%;
  width: 90%;
  background: lightgray;
  color: #2e79ca;
}